html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button {
    font-size: 2em;
}
h4 {
	font-size: 2em;
}
body {
    text-align: center;
    font-size: 60%;
}

a, button {
    color: #3366FF;
    text-decoration: none;
}

#error {
    text-align: center;
    font-size: 2.0em;
    color: red;
}

#log {
	text-align: center;
    font-size: 2.0em;
    color: green;
}

.item {
    text-align: left;
    padding: 1em;
}

.item button {
    float: right;
}

ul {
	margin: 1em;
}

ul li {
	padding-left: 0.1em;
	margin-bottom: 0.15em;
	list-style: none;
	font-weight: bold;
	margin: 0;
	padding: 3px 10px 5px 20px;
	border-bottom: 1px solid #ccc;
	color: #666;
}

ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

ul li:hover {
	color: #000;
	background-color: #ddd;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	border-width: 1px;
}

h4 {
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}

select {
    font-size: 2em;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    margin-bottom: 0.5em;
}

h1, h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 5px;
  letter-spacing: 1px;
  padding: 0 0 40px;
  border-bottom: double #555;
}

@media (max-width: 768px) {
    h2 {
        margin-bottom: 0.5em;
    }
    h {
        margin-bottom: 0.1em;
    }
    #app {
        margin: 0;
        border: 0;
        padding: 0.5em;
    }
    ul {
        width: 100%;
    }
    #bought {
        margin-top: 1em;
    }
}
